DATABASE_URL=
DIRECT_URL=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_STORAGE_BUCKET=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
RESEND_API_KEY=
FROM_EMAIL=
CRON_SECRET=
NEXT_PUBLIC_SITE_URL=
COURIER_API_KEY=
COURIER_ACCOUNT_ID=
OPERATIONS_WEBHOOK_URL=
